<div id="table-container">
  <table id="table">
    <thead>
      <tr>
        <th>الإسم</th>
        <th>السعر</th>
        <th>الكمية</th>
        <th>المجموع</th>
        <th>
          <img
            src="../../assets/x-mark.png"
            alt="x-mark"
            id="x-mark"
            width="100"
          />
        </th>
      </tr>
    </thead>
    <tbody *ngFor="let tableProduct of tableProducts">
      <tr>
        <td>{{ tableProduct.product }}</td>
        <td>${{ tableProduct.price }}</td>
        <td>{{ tableProduct.quantity }}</td>
        <td>${{ getPriceTimesQuantity(tableProduct) }}</td>
        <td class="minus" (click)="removeItem(tableProduct)">-</td>
      </tr>
    </tbody>
  </table>
  <section>
    <h4>المجموع:</h4>
    <h4 id="total">{{ getTotalPrice() }}</h4>
    <p class="dollar">$</p>
  </section>
</div>
