<div id="table-container">
  <p-table
    [value]="tableProducts"
    [class]="'align-center'"
    [tableStyle]="{ 'min-width': '35rem' }"
    id="table"
  >
    <ng-template pTemplate="header">
      <tr>
        <th class="align-center">الإسم</th>
        <th>السعر</th>
        <th>الكمية</th>
        <th>المجموع</th>
        <th>
          <i class="pi pi-times"></i>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tableProduct>
      <tr>
        <td class="align-center">{{ tableProduct.product }}</td>
        <td class="align-center">${{ tableProduct.price }}</td>
        <td class="align-center">{{ tableProduct.quantity }}</td>
        <td class="align-center">${{ getPriceTimesQuantity(tableProduct) }}</td>
        <td class="minus align-center" (click)="removeItem(tableProduct)">
          <i class="pi pi-minus-circle"></i>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <section>
    <h4>المجموع:</h4>
    <h4 id="total">{{ getTotalPrice() }}</h4>
    <p class="dollar">$</p>
  </section>
</div>
