#cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}

.card-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 20px 1px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 0px 2px 20px 1px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 0px 2px 20px 1px rgba(0, 0, 0, 0.37);
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(56, 185, 255) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  margin: 3px;
  max-width: 200px;
  height: 250px;
}
.card-div:hover {
  cursor: pointer;
}

#cards-container div:nth-of-type(1) {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(49, 49, 49) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}

.cloud-image {
  width: 60%;
}
